/* ================================================  MOBILES BELOW 399 ======================================= */


@media only screen 
and (max-width : 399px) 
{	

	.button {
		padding: 5px 0 0 0 !important;
		font-size: 45px;
	}

	.two-click-image:before {
		height: 80px;
  		width: 80px;
		right: 20px;
		top: 30px;
	}

	.button2 {
		font-size: 16px;
	}

	.button3 {
		bottom: 20px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: auto;
		width: 90%;
	}

	iframe {
		height: 820px;
	}

}




/* ================================================  MOBILES BELOW 480 to 400 ======================================= */


@media only screen 
and (min-width : 400px) 
and (max-width : 479px) 
{	

	.button {
		font-size: 45px;
		padding: 0 0 13px;
	}

	.two-click-image:before {
		height: 80px;
  		width: 80px;
		right: 20px;
		top: 30px;
	}

	.button2 {
		font-size: 16px;
	}

	.button3 {
		bottom: 10px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: auto;
		width: 90%;
	}

	iframe {
		height: 630px;
	}

}



/* ================================================  MOBILES BELOW 480 to 640 ======================================= */


@media only screen 
and (min-width : 480px) 
and (max-width : 639px) 
{	

	.two-click-image:before {
		height: 90px;
  		width: 90px;
		right: 20px;
		top: 50px;
	}
	
	.button {
	    font-size: 40px;
	    padding: 0 0 10px;
	}

	.button3 {
		bottom: -205px;
		width: 90%;
	}

	iframe {
		height: 630px;
	}
				
}



/* ================================================  LARGE MOBILE DEVICES AND SMALL TABLETS BELOW 799  ======================================= */


@media only screen 
and (min-width : 640px) 
and (max-width : 799px) 
{	
	
	.button {
		padding: 5px 0 0 0 !important;
	}

	.button3 {
		width: 90%;
	}

	iframe {
		height: 600px;
	}

}


/* ================================================  SLIGHTLY SMALLER RESOLUTIONS, BUT NOT QUITE IPHONE ======================================= */


@media only screen 
and (min-width : 800px) 
and (max-width : 854px) 
{	

	.button {
		padding: 5px 0 0 0 !important;
	}

	.button3 {
		width: 90%;
	}	

	iframe {
		height: 600px;
	}

}





/* ================================================  LARGE PHONE SCREENS SMALLER RESOLUTIONS  ======================================= */


@media only screen 
and (min-width : 855px) 
and (max-width : 960px) 
{	

	.button {
		padding: 5px 0 0 0 !important;
	}

	.button3 {
		width: 90%;
	}

	iframe {
		height: 600px;
	}

}


/* ================================================  IPADS AT LANDSCAPE WIDTH 1024  ======================================= */


@media only screen 
and (min-width : 961px) 
and (max-width : 1024px) 
{	

	.button {
		padding: 5px 0 0 0 !important;
	}

	iframe {
		height: 560px;
	}

		
}


/* ================================================  FIRST STAGE LARGER THAN 1024PX UP TO LARGER BROWSERS  ======================================= */



@media only screen 
and (min-width : 1025px) 
and (max-width : 1223px) 
{		

	
	
	
}



/* #Narrow Screen, Below 1400px (Portrait)
================================================== */

    /* Note: Design for a width of 768px */



@media only screen 
and (min-width : 1224px) 
and (max-width : 1300px) 
{






}
	

@media only screen 
and (min-width : 1224px) 
and (max-width : 1399px) 
{


	
	
                
}
	
	
	


@media only screen and (min-width: 1400px) and (max-width: 1450px) {





}


@media only screen and (min-width: 1451px) {

                



}



@media only screen and (min-width: 639px) {

	.two-click-image {
		height: 328px;
	}

}



@media only screen and (max-width: 640px) {

	.two-click-image {
		height: 268px;
	}
	
}


@media only screen and (max-width: 480px) {

	.two-click-image {
	    height: 178px;
	}

}




